.curator-container{
  width: 100%;
}

.form-container{
  padding: 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-list{
  width: 100%;
  margin-top: 2rem
}

.form-item{
  width: 100%;
  margin-bottom: .5rem;
}

.book-item{
  display: flex;
  border-bottom: solid;
  margin-bottom: 0.5rem;
  border-color: lightgray;
  align-items: center;
  height: 2rem;
  justify-content: space-between;
  flex-direction: row;
}