.curator-container{
  width: 100%;
  display: flex;
  justify-content: center;
}


.curator-heading-container{
  display: flex;
  justify-content: center;
}

.curator-tasks-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
}

.curator-task{
  border: solid;
    padding: 1rem;
    border-radius: 1rem;
    margin: .25rem;
}

.form-container{
  padding: 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-list{
  width: 100%;
  margin-top: 2rem
}

.form-item{
  width: 100%;
  margin-bottom: .5rem;
}

.book-item{
  display: flex;
  border-bottom: solid;
  margin-bottom: 0.5rem;
  border-color: lightgray;
  align-items: center;
  height: 2rem;
  justify-content: space-between;
  flex-direction: row;
}

@media only screen 
  and (max-device-width: 480px){
    .curator-tasks-container{
      display: grid;
      grid-template-columns: 1fr;
      width: 90%;
    }
    
  }