.prize-header{
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.prize-winners-group{
  padding-top: 1rem;
  padding-left: 1rem;
}

.book-page-prize-winner-group{
  width: 100%;
  border-top: solid
}

.lists-container{
  width: 100%;
}


.list-container{
  padding: 1rem;
  border-bottom: solid;
}


.year{
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}


.book-card-container{
  height: 30rem;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
}

.smaller-container{
  height: 17rem
}

.book-card{
  display: flex;
    height: 87%;
    margin: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.book-card:hover .book-card-image{
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  transition: 0.2s;
}

.book-link{
  text-decoration: none;
  color: black;
}

.book-info{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-title{
  font-weight: 600;
  height: 1.5rem;
  max-width: 15rem;
  overflow: hidden;
  padding-top: 0.7rem;
}

/* 
.book-title-overflow:hover{
  height: 6rem;
  overflow: visible;
} */

.author-name{
  font-weight: 300;
}


.book-card-image{
  height: 70%;
}

.cover-image{
  height: 100%;
}

.prize-winners-by-year{
  display: flex;
  flex-direction: column-reverse;
}

.header-year{
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {

.book-card{
  width:12rem
}

.book-card-image{
  width: 100%;
}
.book-card:hover .book-card-image{
  cursor: pointer;
}
}