.App {
  height: 100vh;
}

.homepage-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.prizes-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-bottom: 3rem;
  padding: 1rem 1rem;
}

.prize-container{
  flex-direction: column;
  border-style: solid;
  border-color: black;
    width: 90%;
    height: 14rem;
    margin-bottom: .5rem;
    display: flex;
    align-items: flex-end;
    background-color: black;
    text-decoration: none;
}

.prize-container:hover{
  background-color: white;
  cursor: pointer;
  transition: 0.4s;
}

.prize-container:hover .prize-name{ 
  color: black;
  transition: 0.4s;
}

.prize-name{
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}