.navbar-container{
  border-style: solid;
  height: 3rem;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-content{
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
}

.logo-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.biblion-logo{
  color: white;
  font-size: 1.65rem;
  font-weight: 500;
  text-decoration: none;
  border-style: solid;
  border-color: black;
  border-radius: .2rem;
  padding: .3rem

}

.biblion-logo:hover{
  border-style: solid;
  border-color: white;
  transition: 0.1s;
  border-radius: .2rem
}

.nav-item{
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}